---
layout: default
---

<div class="list">
    {% if site.posts.size == 0 %}
    <h2>
        No post found
    </h2>
    {% else %}
    {% for post in paginator.posts %}
    <div class="list-post">
        {% if post.link %}
        <a href="{{ post.link }}">
            {% else %}
            <a href="{{ post.url | prepend: site.baseurl }}">
                {% endif %}
                <div class="list-post-date">
                    <time>{{ post.date | date_to_string }}</time>
                </div>
                <div class="list-post-title">
                    {{ post.title }}
                </div>
                {%- if site.show_excerpts -%}
                <div class="list-post-desc">
                    {{ post.excerpt | strip_html | truncatewords: 45 }}
                </div>
                {% endif %}
            </a>
    </div>
    {% endfor %}

    <div class="list-pagination">
    <span class="list-pagination-previous">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous">
          &#xE000; previous
        </a>
      {% else %}

      {% endif %}
    </span>

        <span class="list-pagination-next">
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next">
          next &#xE001;
        </a>
      {% else %}

      {% endif %}
    </span>

    </div>
    {% endif %}
</div>
