<section class="post-author">
    <figure class="author-image">
        <img src="{{ site.baseurl }}/assets/images/me/2020-someday-min.png" alt="Youngjun">
    </figure>
    <div class="about-me">
        <h4>
            <a href="https://www.hax0r.info">
                Hax0r
            </a>
        </h4>
        <p>
            I am a passionate back-end developer always in hunger of learning new things and sharing what i have learned. who loves challenges, newest technologies and programming at all.
        </p>
    </div>
</section>