<header class="header" role="navigation">
    <div class="left">
        <a class="btn pull-left js-toolbar-action" aria-label="" href="#">
            <i class="fa fa-align-justify"></i>
        </a>
    </div>
    <h1>
        <a href="{{site.url}}{{site.baseurl}}">
            {{ site.name }}
        </a>
    </h1>
    <div class="right">
        <a class="btn pull-right js-toolbar-action" aria-label="" href="#">
            <i class="fa fa-facebook"></i>
        </a>
        <a href="#" target="_blank" class="btn pull-right twitter-sharing-link sharing-link" data-sharing="twitter" aria-label="Twitter">
            <i class="fa fa-twitter"></i>
        </a>
    </div>
</header>