<head>
  <meta charset="utf-8" />
  <link rel='dns-prefetch' href='//hax0r.info' />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" id="metaViewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="naver-site-verification" content="112610f078ed0bcd17ce32209ccfb8a3c7ff6c5c" />
  <meta name="google-site-verification" content="0rYA5j0o7qcnrJc_I0CKpjhZD9riW2DQXQISuXBpZs0" />
  <title>
    {% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}
  </title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css?v=3" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css' />
  <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ site.name }}" href="{{ site.baseurl }}/feed.xml" />
  <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/assets/icons/favicon.ico?v=1" />
  {% include google-analytics.html %}
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5ea502622a138c95"></script>
  <script type="text/javascript">
    var site = {};
    var page = {};

    site.name = "{{ site.name }}";
    site.baseUrl = "{{ site.url }}{{ site.baseurl }}";
    site.disqusId = "{{ site.disqus.id }}";
    page.title = "{{ page.title }}";
  </script>
</head>
