<nav class="nav hide">
    <a class="nav-btn" href="#">
        <span class="ci ci-burger"></span>
    </a>
    <ul class="nav-list">
        <li>
            <a href="https://www.hax0r.info" target="_blank" />
                About
            </a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/archive" />
                Archive
            </a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/categories" />
                Categories
            </a>
        </li>
        <li class="spacer">∾</li>
    </ul>
</nav>