<div id="menu">
    <div class="search-in" role="search">
        <input type="text" name="q" autocomplete="off" />
    </div>
    <nav role="navigation">
        <ul class="summary">
            <li>
                <a href="{{site.url}}{{site.baseurl}}">
                    {{ site.name }}
                </a>
            </li>
            <li class="divider"></li>
            {% assign categories_list = site.categories %}
            {% if categories_list.first[0] == null %}
            {% for category in categories_list %}
            <li>
                <a href="/categories/#{{ category }}">
                    {{ category | capitalize }} ({{ site.tags[category].size }})
                </a>
            </li>
            {% endfor %}
            {% else %}
            {% for category in categories_list %}
            <li>
                <a href="/categories/#{{ category[0] | downcase }}">
                    {{ category[0] | capitalize }} ({{ category[1].size }})
                </a>
            </li>
            {% endfor %}
            {% endif %}
            {% assign categories_list = nil %}
        </ul>
    </nav>
</div>