@import "fontawesome/fontawesome";

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.btn {
  display: block;
  height: 50px;
  padding: 0 15px;
  border-bottom: 0;
  color: #ccc;
  text-transform: uppercase;
  line-height: 50px;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
  position: relative;
  font-size: 14px;
}

.dropdown-menu{
  position:absolute;
  top:100%;
  left:0;
  z-index:100;
  display:none;
  float:left;
  min-width:160px;
  padding:0;
  margin:2px 0 0;
  list-style:none;
  font-size:14px;
  background-color:#fafafa;
  border:1px solid rgba(0,0,0,.07);
  border-radius:1px;
  -webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);
  box-shadow:0 6px 12px rgba(0,0,0,.175);
  background-clip:padding-box
}
.dropdown-menu.open{
  display:block
}
.dropdown-menu.dropdown-left{
  left:auto;
  right:4%
}
.dropdown-menu.dropdown-left .dropdown-caret{
  right:14px;
  left:auto
}
.dropdown-menu .dropdown-caret{
  position:absolute;
  top:-8px;
  left:14px;
  width:18px;
  height:10px;
  float:left;
  overflow:hidden
}
.dropdown-menu .dropdown-caret .caret-outer{
  position:absolute;
  border-left:9px solid transparent;
  border-right:9px solid transparent;
  border-bottom:9px solid rgba(0,0,0,.1);
  height:auto;
  left:0;
  top:0;
  width:auto;
  display:inline-block;
  margin-left:-1px
}
.dropdown-menu .dropdown-caret .caret-inner{
  position:absolute;
  display:inline-block;
  margin-top:-1px;
  top:0;
  top:1px;
  border-left:9px solid transparent;
  border-right:9px solid transparent;
  border-bottom:9px solid #fafafa
}

html {
  font-family: $base-font;
  font-size: $base-font-size;
  line-height: 1.6;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

body.enable-side-bar #menu {
  left: 0px;
}

body.enable-side-bar #app {
  left: 300px;
}

mark {
  color: #000;
  background: #ff0;
}

.content-container {
  max-width: 48rem;
  padding: 5rem 1rem;
  margin-left:  auto;
  margin-right: auto;

  @media (max-width: 48rem){
    padding: 2rem 1.3rem;
  }
}

.content-container.face {
  padding: 2rem 1rem;
  @media (max-width: 48rem){
    padding: 2rem 1.3rem;
  }
}

.hide {
  display : none!important
}

#menu {
  position: absolute;
  top: 0;
  left: -300px;
  bottom: 0;
  z-index: 1;
  overflow-y: auto;
  width: 300px;
  color: #364149;
  background: #fafafa;
  border-right: 1px solid rgba(0,0,0,.07);
  -webkit-transition: left 250ms ease;
  -moz-transition: left 250ms ease;
  -o-transition: left 250ms ease;
  transition: left 250ms ease;

  > .search-in {
    padding: 6px;
    background: 0 0;
    transition: top .5s ease;
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,.07);
    border-top: 1px solid rgba(0,0,0,.07);
    margin-bottom: 10px;
    margin-top: -1px;
    max-height : 50px;
  }

  > .search-in > input {
    width: 100%;
    background: 0 0;
    border: 1px solid transparent;
    box-shadow: none;
    outline: 0;
    line-height: 22px;
    padding: 7px 7px;
    color: inherit;
  }
}

#app {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  color: #000;
  background: #fff;
  -webkit-transition: left 250ms ease;
  -moz-transition: left 250ms ease;
  -o-transition: left 250ms ease;
  transition: left 250ms ease;
}

.header {
  position : relative;
  overflow: visible;
  height: 50px;
  z-index: 2;
  font-size: .85em;
  color: #7e888b;
  background: transparent;
  border-bottom: 1px solid #eee;

  a.btn:hover {
    position: relative;
    text-decoration: none;
    color: #444;
    background: 0 0;
  }

  > .right {
    position : absolute;
    right : 0;
    top : 0px;
  }

  > .right a > .dropdown-menu {
    display:none;
  }

  > .right a.opened > .dropdown-menu {
    display:block;
  }

  > .right a.opened > .dropdown-menu .buttons button {
    border: 0;
    background-color: transparent;
    color: #a6a6a6;
    width: 100%;
    text-align: center;
    float: left;
    line-height: 1.42857143;
    padding: 8px 4px;
    padding: 12px 4px;
    cursor: pointer;
  }

  > .right a.opened > .dropdown-menu .buttons button:hover {
    background-color: #eee;
  }

  > .left {
    position : absolute;
    left : 0;
    top : 0px;

  }

  h1 {
    overflow: hidden;
    margin: 0;
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px;
    border: none;
    line-height: 35px;
  }

  h1 > a {
    position: absolute;
    top: 6px;
  }

  h1 > a {
    color: #111;
    font-weight: bold;
    font-size : 16px;
  }

  &-title {
    margin: 0.3em 0;
    font-size: 2.25em;
    line-height: 1.2em;
    font-weight: 600;

    a {
      color: $base-color;
    }

    span {
      color: $oc-gray-5;
    }

  }

  &-nav {
    a {
      color: $oc-gray-7;
      text-transform: lowercase;
      -webkit-transition: all .2s ease;
         -moz-transition: all .2s ease;
              transition: all .2s ease;
      margin-right: .3rem;

      &:hover,
      &:focus {
        color: $oc-gray-7;
        text-decoration: none;
      }
    }
  }
}

.page {
  &-title {
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 2.25em;
    line-height: 1.2em;
    font-weight: 600;
  }
}

.post {
  blockquote, blockquote  p {
    position: relative;
    font-size: 22.4px;
    font-style: italic;
    padding: 16px 16px 16px 50px;
    line-height: 1.5em;
    color: #FFF;
    background-color: #353535;
    border: none;
  }

  blockquote p:first-child:before {
    content: url(../icons/quote.png) no-close-quote;
    position: absolute;
    top: 16px;
    left: 0;
  }

  .content {
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &-title {
    margin-top: 0rem;
    margin-bottom: 0.3rem;
    font-size: 2.25em;
    line-height: 1.2em;
    font-weight: 600;
  }

  &-date {
    margin-bottom: .5rem;
    color: $oc-gray-8;
    font-size: .75rem;
    text-transform: uppercase;
  }

   &-tag {
    margin-bottom: 1.5rem;

    ul {
      li:before {
        content: ""
      }

      li {
        margin: 0;
        font-size: .75rem;
        font-weight: 300;
        display: inline;
        list-style-type: none;
        text-transform: lowercase;

        a {
          display: inline-block;
          margin: 4px;
          margin-left: 0px;
          color: $oc-white;
          background-color: $oc-gray-6;
          text-decoration: none;
          border-radius: 3px;

          span {
            float: left;
            padding: .5px 5px;
          }
        }

        a:hover {
          background-color: $oc-gray-7;
        }

        a:visited {
          background-color: $oc-gray-5;
        }

        a:visited:hover {
          background-color: $oc-gray-7;
        }
      }
    }
  }

  &-disqus {
    margin-top: 1rem;
  }

  &-author {
    overflow : hidden;
    border-top: 1px solid #eee;
    margin: 2rem 0px 2rem 0px;
    padding: 1.5rem 0px 0px 0px;
    height: 120px;
  }

  &-author .author-image {
    width: 20%;
    float: left;
    margin: 0px;
  }

  &-author .author-image img {
    border: 1px solid #eee;
    margin : 0px
  }

  &-author .about-me {
    padding-left: 25px;
    width: 80%;
    float: right
  }

  &-author .about-me h4 {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -1px;
    margin: 0px;
  }

  &-author .about-me p {
    font-size: 14px;
    margin-top: 8px;
  }
}

/*--------------
  Post list
  -------------- */

.list {
  &-post {
    padding: 4% 2%;
    
    &:hover {
      background-color: $background-over-color;
      border-color: transparent;
      border-radius: 10px;
    }

    a {
      color: $base-color;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    &-title {
      margin-bottom: .3rem;
      font-size : 1.8rem;
      font-weight: 600;
    }

    &-date {
      color: $base-lighten-color;
      font-size: .8rem;
      text-transform: uppercase;
    }

    &-desc {
      color: $base-color;
      margin-bottom: .25rem;
      font-size :1rem;
    }
  }

  &-pagination {
    margin-top: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    // text-transform: lowercase;

    &-previous {
      float: left;
      padding-left: 2%;
      a {
        color: $oc-gray-6;

        &:hover,
        &:focus {
          color: $oc-gray-7;
          text-decoration: none;
        }
      }
    }

    &-next {
      float: right;
      padding-right: 2%;
      a {
        color: $oc-gray-6;

        &:hover {
          color: $oc-gray-7;
          text-decoration: none;
        }
      }
    }
  }
}

.list {
  position : relative;
  z-index: 2;
}

.tag {
  &-index {
    ul {
      li:before {
        content: ""
      }

      li {
        margin: 0;
        font-size: 0.8rem;
        display: inline;
        list-style-type: none;
        text-transform: lowercase;

        a {
          display: inline-block;
          margin: 4px;
          margin-left: 0px;
          color: $oc-white;
          background-color: $oc-gray-6;
          text-decoration: none;
          border-radius: 3px;

          span {
            float: left;
            padding: .5px 5px;
          }

          .count {
            background-color: $oc-gray-7;
            border-radius: 0 3px 3px 0;
          }
        }

        a:hover {
          background-color: $oc-gray-7;
        }
      }
    }
  }

  &-title {
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: lowercase;
    padding: 1rem 0;
  }

  &-post {
    a {
      color: $base-color;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    &:hover {
      color: $base-color;
      text-decoration: none;
      background-color: $background-over-color;
      border-color: transparent;
      }
  }
}

.archive {
  &-list {
    &-post {
      padding: 0.1rem;

      &:hover {
          background-color: $background-over-color;
          border-color: transparent;
      }

      a {
        color: $base-color;

        &:hover,
        &:focus {
          text-decoration: none;
        }
      }

      &-title {
        font-size : 1.2rem;
        font-weight: 400;
      }

      &-date {
        color: $base-lighten-color;
        font-size: .75rem;
        text-transform: uppercase;
      }
    }
  }
}

.footer {
  text-align: center;
  font-size: .75rem;

  &-link {
    margin: .2rem;

    a {
      color: $base-color;
      margin: 4px;
    }
  }
}

ul.nav-list > li:before {
  content: ""
}
