* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: $base-font;
  font-size: $base-font-size;
  line-height: 1.6;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: relative;
}

mark {
  color: #000;
  background: #ff0;
}

header {
  position : relative;
}

.content-container {
  max-width: 48rem;
  padding: 5rem 1rem;
  margin-left:  auto;
  margin-right: auto;

  @media (max-width: 48rem){
    padding: 2rem 1.3rem;
  }
}

.content-container.face {
  padding: 2rem 1rem;
  @media (max-width: 48rem){
    padding: 2rem 1.3rem;
  }
}

.hide {
  display : none!important
}

/*--------------
  Header
  -------------- */
.header {
  padding: 0px;
  margin-bottom: 1.5em;

  &-title {
    margin: 0.3em 0;
    font-size: 2.25em;
    line-height: 1.2em;
    font-weight: 600;

    a {
      color: $base-color;
    }

    span {
      color: $oc-gray-5;
    }

  }

  &-nav {
    a {
      color: $oc-gray-7;
      text-transform: lowercase;
      -webkit-transition: all .2s ease;
         -moz-transition: all .2s ease;
              transition: all .2s ease;
      margin-right: .3rem;

      &:hover,
      &:focus {
        color: $oc-gray-7;
        text-decoration: none;
      }
    }
  }
}

.header-small {
  text-align: left;
  margin-bottom: .75rem;
  font-size: .75rem;
  font-weight: 600;
  text-transform: uppercase;

  a {
    color: $base-color;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

/*--------------
  Page
  -------------- */

.page {
  &-title {
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 2.25em;
    line-height: 1.2em;
    font-weight: 600;
  }
}


/*--------------
  Post
  -------------- */
.post {
  blockquote, blockquote  p {
    position: relative;
    font-size: 22.4px;
    font-style: italic;
    padding: 16px 16px 16px 50px;
    line-height: 1.5em;
    color: #FFF;
    background-color: #353535;
    border: none;
  }

  blockquote p:first-child:before {
    content: url(../icons/quote.png) no-close-quote;
    position: absolute;
    top: 16px;
    left: 0;
  }

  &-title {
    margin-top: 0rem;
    margin-bottom: 0.3rem;
    font-size: 2.25em;
    line-height: 1.2em;
    font-weight: 600;
  }

  &-date {
    margin-bottom: .5rem;
    color: $oc-gray-8;
    font-size: .75rem;
    text-transform: uppercase;
  }

   &-tag {
    margin-bottom: 1.5rem;

    ul {
      li:before {
        content: ""
      }

      li {
        margin: 0;
        font-size: .75rem;
        font-weight: 300;
        display: inline;
        list-style-type: none;
        text-transform: lowercase;

        a {
          display: inline-block;
          margin: 4px;
          margin-left: 0px;
          color: $oc-white;
          background-color: $oc-gray-6;
          text-decoration: none;
          border-radius: 3px;

          span {
            float: left;
            padding: .5px 5px;
          }
        }

        a:hover {
          background-color: $oc-gray-7;
        }

        a:visited {
          background-color: $oc-gray-5;
        }

        a:visited:hover {
          background-color: $oc-gray-7;
        }
      }
    }
  }

  &-disqus {
    margin-top: 1rem;
  }

  &-author {
    overflow : hidden;
    border-top: 1px solid #eee;
    margin: 2rem 0px 2rem 0px;
    padding: 1rem 0px 0px 0px
  }

  &-author .author-image {
    width: 20%;
    float: left;
    margin: 0px;
  }

  &-author .author-image img {
    border: 1px solid #eee;
    margin : 0px
  }

  &-author .about-me {
    padding-left: 25px;
    width: 80%;
    float: right
  }

  &-author .about-me h4 {
    margin: 0px;
  }

  &-author .about-me p {
    margin-top: 1rem;
  }
}

/*--------------
  Post list
  -------------- */

.list {
  &-post {
    padding: 4% 2%;
    
    &:hover {
      background-color: $background-over-color;
      border-color: transparent;
      border-radius: 10px;
    }

    a {
      color: $base-color;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    &-title {
      margin-bottom: .3rem;
      font-size : 1.8rem;
      font-weight: 600;
    }

    &-date {
      color: $base-lighten-color;
      font-size: .8rem;
      text-transform: uppercase;
    }

    &-desc {
      color: $base-color;
      margin-bottom: .25rem;
      font-size :1rem;
    }
  }

  &-pagination {
    margin-top: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    // text-transform: lowercase;

    &-previous {
      float: left;
      padding-left: 2%;
      a {
        color: $oc-gray-6;

        &:hover,
        &:focus {
          color: $oc-gray-7;
          text-decoration: none;
        }
      }
    }

    &-next {
      float: right;
      padding-right: 2%;
      a {
        color: $oc-gray-6;

        &:hover {
          color: $oc-gray-7;
          text-decoration: none;
        }
      }
    }
  }
}


.nav {
  position: absolute;
  top: 12px;
  left: -15px;
  transform: translateX(-100%);
  text-align: right;
}
.nav-btn {
  display: inline-block;
  line-height: 16px;
}
.nav-btn.is-on .ci-burger {
  background: transparent;
}
.nav-btn.is-on .ci-burger::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
}
.nav-btn.is-on .ci-burger::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  bottom: 0;
}
.nav-btn.is-on + .nav-list {
  opacity: 1;
}
.nav-list {
  list-style: none;
  font-size: 0.8rem;
  margin-top: 1rem;
  padding: 0;
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.nav-list .spacer {
  text-align: center;
}

.ci {
  display: inline-block;
  font-size: inherit;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  position: relative;
  vertical-align: top;
}
.ci:before, .ci:after {
  content: "";
  display: block;
  position: absolute;
}
.ci-burger {
  width: 16px;
  height: 3px;
  top: 7px;
  left: 0;
  background: #333;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.ci-burger:before, .ci-burger:after {
  width: 100%;
  height: 3px;
  background: #333;
  left: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.ci-burger:before {
  top: -6px;
}
.ci-burger:after {
  bottom: -6px;
}

.nav-btn.is-on .ci-burger{
  background:transparent
}
.nav-btn.is-on .ci-burger::before{
  -webkit-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  top:0
}
.nav-btn.is-on .ci-burger::after{
  -webkit-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  transform:rotate(-45deg);
  bottom:0
}
.nav-btn.is-on+.nav-list{
  opacity:1
}

.list {
  position : relative;
  z-index: 2;
}

/*--------------
  Tags
  -------------- */
.tag {
  &-index {
    ul {
      li:before {
        content: ""
      }

      li {
        margin: 0;
        font-size: 0.8rem;
        display: inline;
        list-style-type: none;
        text-transform: lowercase;

        a {
          display: inline-block;
          margin: 4px;
          margin-left: 0px;
          color: $oc-white;
          background-color: $oc-gray-6;
          text-decoration: none;
          border-radius: 3px;

          span {
            float: left;
            padding: .5px 5px;
          }

          .count {
            background-color: $oc-gray-7;
            border-radius: 0 3px 3px 0;
          }
        }

        a:hover {
          background-color: $oc-gray-7;
        }
      }
    }
  }

  &-title {
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: lowercase;
    padding: 1rem 0;
  }

  &-post {
    a {
      color: $base-color;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    &:hover {
      color: $base-color;
      text-decoration: none;
      background-color: $background-over-color;
      border-color: transparent;
      }
  }
}

/*--------------
  Archive
  -------------- */
.archive {
  &-list {
    &-post {
      padding: 0.1rem;

      &:hover {
          background-color: $background-over-color;
          border-color: transparent;
      }

      a {
        color: $base-color;

        &:hover,
        &:focus {
          text-decoration: none;
        }
      }

      &-title {
        font-size : 1.2rem;
        font-weight: 400;
      }

      &-date {
        color: $base-lighten-color;
        font-size: .75rem;
        text-transform: uppercase;
      }
    }
  }
}


/*--------------
  Footer
  -------------- */
.footer {
  text-align: center;
  font-size: .75rem;

  &-link {
    margin: .2rem;

    a {
      color: $base-color;
      margin: 4px;
    }
  }
}

ul.nav-list > li:before {
  content: ""
}


.share-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 3px 10px 2px 8px;
  margin-right: 10px;
  color: #fff;
  background-color: #333;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
  text-decoration: none;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 15px;
}

.share-button:hover {
  color: #fff;
  background-color: #4f4f4f;
}

.share-button:active {
  top: 1px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
}

.share-button svg {
  fill: #ffffff;
  width: 19px;
  height: 19px;
  margin-right: 5px;
}

.share-button.facebook { background-color: #4A66B7; }
.share-button.facebook:hover { background-color: #556fbb; }

.share-button.twitter { background-color: #1B95E0; }
.share-button.twitter:hover { background-color: #269ce5; }

.share-button.pinterest { background-color: #c92228; }
.share-button.pinterest:hover { background-color: #cf4146; }

.share-button.linkedin { background-color: #0077B5; }
.share-button.linkedin:hover { background-color: #1e84b9; }

.share-button.reddit { background-color: #5f99cf; }
.share-button.reddit:hover { background-color: #75a6d4; }

.share-button.tumblr { background-color: #35465c; }
.share-button.tumblr:hover { background-color: #455166; }

.share-button.hacker-news { background-color: #ff6600; }
.share-button.hacker-news:hover { background-color: #ff7515; }

.share-button.designer-news { background-color: #2d72d9; }
.share-button.designer-news:hover { background-color: #3d82e9; }

.share-button.google-plus {
  background-color: #fefefe;
  color: #333;
}

.share-button.google-plus:hover {
  background-color: #f6f6f6;
  color: #333;
}

.share-button.google-plus svg {
  fill: #DB4437;
}

.share-page .share-head {
  margin-top: 20px;
  margin-bottom: 40px;
}

.share-page .share-body {
  overflow : hidden;
}

.share-page .share-body ul > li {
  float : left;
  margin : 0px;
}

.share-page .share-body ul > li:before {
  content : ""
}


#veil {
  position : absolute;
  top : 0px;
  right : 0px;
  left : 0px;
  bottom : 0px;
  width : 100%;
  height : 100%;
  background: #000000a1;
  z-index: 9;
}

#search-form {
  width: 100%;

  input {
    width: 100%;
    border-color: #dcdcdc;
    border-radius: 3px;
    font-size: 13px;
    letter-spacing : -1px;
    background-color: rgb(255, 255, 255);
    box-shadow: none;
    color: rgb(59, 64, 69);
    border: 0px;
    margin: 0px;
    height: 40px;
    padding-left : 40px;
  }
  > div {
    position : relative;
    margin-top: 20px;
    vertical-align: top;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  }
}

#light-jekyll-search-suggestion {
  overflow: hidden;
  position: relative;
  background-color: #fff;
  z-index: 20;
  border-radius: 2px;
  border: 1px solid #eee;
  margin-top: 4px;

  p.found_results_n {
    font-size: 12px;
    text-align: right;
    margin: 0px;
    padding: 6px;
    position: absolute;
    right: 0
  }

  li {
    margin: 0px;
    padding: 15px;
    border-bottom: 1px solid #eee;
  }

  li:hover {
    background-color : #f1f1f1
  }
}

#light-jekyll-search-suggestion ul>li:before {
  content : '';
}

i.icon-search {
  display : block;
  background-image: url(/assets/images/active-search.png);
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  position: absolute;
  background-size: 20px;
  background-repeat: no-repeat;
}

#search {
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}

#search .search-wapper {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

#search .search-dim {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  opacity: 0.8
}

#search .search-wapper .search-form {
  width: 80%;
  margin: auto;
}

#related-posts {
  p {
    font-size : 16px
  }
}

/* For mobile device */
@media (max-width: 480px) {
  .header {
    margin-bottom: 0.5em;
  }

  body.opened-nav .nav-list {
    background: #0000008c;
    border-radius: 5px;
    padding: 10px;
  }

  body.opened-nav header {
    z-index: 10;
  }

  .nav {
    transform: none;
    right: 0px;
    left: 0px;
  }
}