---
layout: default
---
<div class="post">
  <div class="post-title">{{ page.title }}</div>
  <span class="post-date">
    Written on <time>{{ page.date | date: "%B %e, %Y" }}</time>
  </span>
  <div class="post-tag">
    <ul>
      {% for tag in page.tags %}
      <li>
        <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
          <span>{{ tag }}</span>
        </a>
      </li>
      {% unless forloop.last %}{% endunless %}
      {% endfor %}
    </ul>
  </div>

  <div class="content">
    {{ content }}
  </div>

  <h2 class="hr">
    About Me
  </h2>
  <div class="author">
    {% include author.html %}
  </div>

  <h2 class="hr">
    Related Posts
  </h2>
  <div class="related-posts">
    {% include related-posts.html %}
  </div>

  {% if page.comments != false and site.disqus.id %}
  <h2 class="hr">
    What do you think?
  </h2>
  <div class="post-disqus">
      <section id="disqus_thread"></section>
  </div>
  {% endif %}
</div>

{% include post-navigation.html %}
{% include widgets.html %}
